.admin {
  //background-color: green;
}


table.pricing {
  table-layout: fixed;
  border-collapse: collapse;

  tbody.variant {
    //tr.none { display: none; }
    //&.selected tr { display: table-row; }

    //&:hover { background-color: #ffffe0; }
    &.selected {
      background-color: #fffff0;

      tr:nth-of-type(2n) {
        background-color: #ffffe0;
      }
    }


    // Collapse animation
    &.selected td div, tr.show td div, tr.show.foot td div {
      height: 1.8rem; // Breaks proper wrap
      transform: scaleY(1)
    }

    tr td div, tr.foot td div {
      line-height: 1.8rem; // Kludge to vertically align text
      overflow: hidden;
      height: 0;
      transform: scaleY(0);
      transform-origin: 0 0;
      transition: height 0.6s, transform 0.6s;
    }
  }

  tr td {
    border-right: thin solid grey;
  }

  tr.null {
    th {
      padding: 0;
      vertical-align: top;
      > div {
        position: absolute;
      }
    }
    td {
      border-right: thin solid #CCC;
    }
  }

  thead td {
    text-align: center;
  }

  tbody tr.foot, tbody.foot tr {
    td span {
      font-weight: bold;
    }
  }

  tbody {
    tr {
      font-size: 1em;

      th.filler { background: #DDD; }

      td {

        padding: 0;
        text-align: right;

        div.changed {
          background-color: #FCC;
        }

        // Quantity Labels
        label {
          display: inline-block;
          margin: 0 0.5em;

          input {
            display: inline-block;
            width: 4.5em;
          }
        }

        input, span {
          background: none;
          margin: 0em;
          padding: 0 0.5rem;
          text-align: right;
          box-shadow: none;
          height: 1.8rem;
        }

        input[type="text"] {
          border: none;
        }
      }
    }
  }

  tbody.foot {
    background: #DDD;
    td {
      text-align: right;
    }


    //padding: 0.5rem;
  }
}


ul.options {
  display: inline-block;
  list-style: none;
  margin: 0;

  li {
    cursor: pointer;
    display: inline-block;
    margin: 2px;

    border: 2px solid white;
    &:hover { border: 2px solid #F99; }
    &.included { border: 2px solid yellow; }
    &.selected { border: 2px solid red; }
  }
}


ul.swatches li, .swatch {
  position: relative;
  margin: 0 auto;

  div {
    display: inline-block;
    width: 70px; height: 36px;
    border: 1px solid grey;
    margin: 0;
  }

  span {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;

    color: white;
    &.light { color: black; }
  }

  span, div {
    vertical-align: middle;
    padding: 1px 3px;
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    line-height: 15px;
    z-index: 1;
  }

  img {
    z-index: 0;
  }
}

ul.colors {
  li {
    border: thin solid black;
    height: 2.6em;
    min-width: 2em;
    padding: 0.4em;
    // Show through bottom line
    //mix-blend-mode: darken;


    .dialog {
      //max-width: 75%;
      position: absolute;
      background: white;
      border: thin solid black;
      //mix-blend-mode: normal;
    }
  }

  .overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
}